# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual environment
venv/
.env

# Streamlit secrets (DO NOT COMMIT SECRETS)
.streamlit/secrets.toml

# IDEs/editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
