certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
geographiclib==2.0
geopy==2.4.1
greenlet==3.1.1
idna==3.10
numpy==1.24.4
packaging==24.2
pandas==2.0.3
plotly==6.0.1
protobuf==5.29.4
psycopg2==2.9.9
pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlalchemy==2.0.40
streamlit==1.40.1
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
watchdog==4.0.2
